#mirror {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.icon {
    left: 40px;
    top: 200px;
    position: absolute;
}

.widget {
    left: 80px;
    bottom: 200px;
    position: absolute;
    width: 800px;
    /* height: 400px; */
}

.widget-content {
    font-family: 'Roboto', sans-serif;
}

#clock {
    font-size: 140px;
    line-height: 0px;    
}

#timer {
    font-size: 140px;
    line-height: 0px;
}

#temperature {
    font-size: 140px;
    line-height: 0px;
}
 
#weather {
    font-size: 90px;
}

#alerts {
    font-size: 70px;
}